html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #4da7df;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: #176ee1;
}

.screen {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #85b7d6;
}
